.nav {
  height: 6rem;
  width: 100%;
  background-color: #FFFFFF;
  display: flex;
  position: sticky;
  top: 0px;
  z-index: 1;
  border-bottom: lightgray;
  box-shadow: 0rem 0rem 2rem lightgray;
  justify-content: space-around;
}

.nav-group {
  gap: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-item {
  display: flex;
  gap: 0.25rem;
  align-items: center;
}

.nav-link-wrapper:hover {
  color: #E53E3E;
}